{
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "prettier"
    ],
    "plugins": [
        "progress",
        "@typescript-eslint",
        "prettier"
    ],
    "parserOptions":  {
        "ecmaVersion":  2020,
        "sourceType":  "module"
    },
    "rules": {
        "progress/activate": 1,
        "import/no-absolute-path": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_",
                "varsIgnorePattern": "^_",
                "caughtErrorsIgnorePattern": "^_",
                "ignoreRestSiblings": true
            }
        ]
    },
    "overrides": [
    ]
}
